IrelandUserAmountOfContent.csv
non-native_cognates_count_per_user.csv
native_cognates_count_per_user.csv
NativeCountryUserAmountOfContent.csv
MassiveUsersDB/
USUserAmountOfContent.csv
non-native_cognates_count_per_user_T.xlsx
non-native_cognates_count_per_user_T.csv
non-native_cognates_count_per_user_man.xlsx
*.png
